<div>
  Connected to room {{ this.roomdata?.id }}
  <button (click)="this.disconnect()">disconnect</button>
</div>
<h2>Player List:</h2>
<ul>
  <li
    [class]="(player == this.roomdata?.host && 'hostname') || ''"
    *ngFor="let player of this.roomdata?.connected"
  >
    {{ player }}
  </li>
</ul>
<button
  *ngIf="this.roomdata?.host == this.playerid && this.roomdata?.state == 0"
  (click)="this.sendStart()"
>
  Start Game
</button>

<h2 *ngIf="this.roomdata?.gameSpecificData?.startingLetter">
  The letter is: {{ this.roomdata?.gameSpecificData?.startingLetter }}
</h2>

<app-game-timer [tick]="this.timerTick" [time]="this.htmlTimer?.time||''" [type]="this.htmlTimer?.type" />
<!-- TODO: move gametable to another component -->
<!-- TODO: add scoreboard as a new component shown if gmaeState is set to 'score' -->
<table id="gametable">
  <thead>
    <tr>
      <ng-container *ngFor="let category of this.roomdata?.gamemode?.categories"
        ><th *ngIf="category && category.name">
          {{ category.name }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr>
      <ng-container
        *ngFor="let category of this.roomdata?.gamemode?.categories"
      >
        <td *ngIf="category && category.name">
          <input
            [disabled]="!!this?.roomdata?.locked"
            type="text"
            [ngModel]="this.answers.get(category.id) || ''"
            (ngModelChange)="this.answers.set(category.id, $event)"
          />
        </td>
      </ng-container>
      <td>
        <button (click)="submitAnswers()">Send</button>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <h3>Chat</h3>
  <table id="chat">
    <thead>
      <tr>
        <th>From</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let msg of this.roomMessages">
        <td>{{ msg.from == this.playerid ? "You" : msg.from }}</td>
        <td>{{ msg.message }}</td>
      </tr>
    </tbody>
  </table>
  <input type="text" [(ngModel)]="message" #chatInput /><input
    (click)="sendMessage(message, chatInput)"
    type="button"
    value="Send"
  />
</div>
