body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000d;
    color: white;
}

#page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 3fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#history {
    grid-column: 1 / span 2;
    overflow-y: scroll;
    overflow-x: hidden;
}

#wikicontent {
    border: 1px solid white;
    margin: 25px;
    border-radius: 25px;
    overflow-y: scroll;
    padding: 25px;
    max-height: calc(100% - 110px);
}

#picker {
    padding: 25px;
}

#picker form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#wiki {
    padding: 5px;
    overflow-y: scroll;
}

#wiki .switchview {
    float: right;
    margin-right: 5px;
}
#wiki .switchview:nth-child(1) {
    margin-right: 50px;
}

#picker .category-switch {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 25px;
    padding: 5px;
    text-align: center;
    user-select: none;
    display: block;
}

#picker .category-switch.switch-on {
    background-color: #fffa;
    color: black;
}

#picker .category-switch.switch-on::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    display: block;
    background-color: green;
}

#picker .category-switch.switch-off {
    background-color: #fff2;
    color: white;
}

#picker .category-switch.switch-off::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    display: block;
    background-color: red;
}

.historyRecord {
    display: grid;
    grid-template-columns: 1fr 20fr 10fr;
}

.historyRecord:nth-child(2n) {
    background-color: #333e;
}

.historyRecord:hover {
    background-color: #888f;
}
.historyWordID::before {
    content: "#";
}

.historyWordCategory {
    margin-inline: 5px;
}

.historyWordCategories {
    text-align: center;
    display: flex;
    justify-content: center;
}

.historyWordName {
    text-align: center;
    font-weight: bolder;
}

.historyWordID {
    background-color: transparent;
}

.reason-error-already-a-word::after {
    content: "Already a word " attr(data-word);
    color: red;
    text-align: center;
    display: block;
}

#edit-wiki-badge {
    color: green;
    margin-inline: 25px;
    font-weight: bolder;
    float: left;
    animation: blinker 2s infinite ease-in;
}

@keyframes blinker {
    50% {
        opacity: 0%;
    }
}

#picker .picker-buttons {
    margin: auto;
    width: fit-content;
}

button {
    border: 1px solid #cccc;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: #aaa5;
    color: white;
    margin-inline: 5px;
}

#wikicontent[data-compact="false"] {
    background-color: white;
    color: black;
}

#wikicontent a {
    color: #ccfe;
}

.picker-info {
    position: absolute;
    right: 15px;
}